body {
    background-color: #89B0AE;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-Items: center;
    justify-content: center;
    color: white;

}
 form {
    margin-top: 50px;
    border-radius: 7px;
    border: 2px white solid;
    padding: 20px;
    background-color: #BEE3DB;
    
 }

 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
 }
 button {
    border-radius: 30px;
    background-color: #555B6E;
    border: 2px solid white;
    font-size: 18px;
    color: white;
 }

 #delete-form {

    background-color: #BEE3DB;
    border: 2px white solid;
    border-radius: 7px;
    padding: 30 px;
    margin-top: 50px;
 }
 h4 {
    display: flex;
    justify-content: center;
    align-items: center;
 }